<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180951249266-2b7bbk93d0od5nd5spi3piptb2udv7ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180951249266-2b7bbk93d0od5nd5spi3piptb2udv7ll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180951249266-muupgucll493urjl69649g1r2q5bu0il.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUQUZkgCq4XIdytbV4be3dCT7664wu7hE</string>
	<key>GCM_SENDER_ID</key>
	<string>180951249266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmk.kmpauth</string>
	<key>PROJECT_ID</key>
	<string>kmpauthapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kmpauthapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180951249266:ios:1312686218b47eee0e2deb</string>
</dict>
</plist>